setuid=pdns
setgid=pdns
launch=gmysql
gmysql-host=127.0.0.1
gmysql-port=3306
gmysql-dbname={{ pdns_mysql_db }}
gmysql-user={{ pdns_mysql_user }}
gmysql-password={{ pdns_mysql_passwd }}
gmysql-dnssec=yes
master=no
slave=yes
cache-ttl=0
query-cache-ttl=0
negquery-cache-ttl=0
out-of-zone-additional-processing=no
socket-dir=/var/run
guardian=yes
daemon=yes
disable-axfr=no
allow-axfr-ips={%- for host in groups['ns-master'] -%}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}{% endfor %}
