export OS_AUTH_URL="http://{{inventory_hostname}}:5000/v2.0"
export OS_USERNAME="{{ designate_os_user }}"
export OS_TENANT_NAME="{{ designate_os_tenant }}"
export OS_PASSWORD="{{ designate_os_password }}"
